body{
    background-color: lightpink;
            }
            
        p{
            color: black;
            font-family: fantasy;
            
            }
        h2{
                color: white;
            }
            
       